.row
  .col-md-4
    h2 Produce Great Materials
    p Produce and gather materials such as textbook content, videos, problem sets, interactive applets, and instructor guides
  .col-md-4
    h2 Curate Assets
    p Identify optimal methods for building comprehensive, quality-controlled, and curated libraries of freely reusable instructional materials for college-level mathematics courses
  .col-md-4
    h2 Support Teaching
    p Investigate the impact of such a library on faculty adoption of evidence-based teaching practices
