.row
  .col-md-4
    h2 Great Materials
    p provide materials such as textbook content, videos, interactive applets, and instructor guides;
  .col-md-4
    h2 Curated Assets
    p  identify optimal methods for building comprehensive, quality-controlled, and curated libraries of freely reusable instructional materials for college-level mathematics courses;
  .col-md-4
    h2 Support Teaching
    p investigate the impact of such a library on faculty adoption of evidence-based teaching practices.