h1 The Team

.row
  for person in people
    .col-md-3
      .thumbnail
        img(src="/photographs/#{person.photograph}")
        div.caption
          h3 #{person.name}
          h4 #{person.institution}
          p Biography

